@using Northwind.Models
@model IEnumerable<Product>

@{
    ViewBag.Title = "Search";
}

<h2>Product Search</h2>
<br />
<form action="~/Product/ProcessSearch" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group col-md-2">
        <div class="input-group">
            <input type="text" class="form-control" id="search" name="search" placeholder="Product">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

